#App-head{
    background-color:#9EC8B9;
}
#cards{
    background-color: #9EC8B9 ;
}
#cardsh{
    background-color: #dddddd ;
    font-family:'Times New Roman', Times, serif;
}
#title{
    font-size: xx-large;
    margin:2% 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#info{
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
    font-style:unset;
}
#graph:hover{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(22, 23, 23, 0.884);
    transition: transform .2s ease;
    transform: scale(1.01);
}
#child-graph:hover{
    transition: transform .2s ease;
    transform: scale(1.05);
}