.navs{
    background-color:#092635;
}
.App-header{
    background-image: linear-gradient(to top right, rgb(255, 255, 255), rgb(255, 191, 0));
}
#abut{
    color:white;
}

#footstyle{
    font-style: oblique;
    font-size: medium;
}